<!DOCTYPE html>

<html>
<h1>Welcome, {{session['name']}}</h1>
<h2> You have the following friends:</h2>
<table>
    		<tr> 
    			<td> Friend name: </td>
    			<td> </td>
    		</tr>
    	
	    		{%for element in friends%}
	    		<tr> 
	          		<td> {{element['first_name']}} {{element['last_name']}}</td>
	          		<td>
	          			<form action="/delete/{{element['friend_id']}}" method="POST">
	    			 <input type =submit name='deletefromdb' value='REMOVE FROM FRIENDS'>
	    			</form>
	    		</tr>
	            {%endfor%}
   </table>
 
   <h2> Add a new friend: </h2>
   {% for element in users%}
   <form method ='post' action='/addfriend/{{users[0]['id']}}'>
   <label> {{element['first_name']}} {{element['last_name']}}</label>
   <input type='submit' value='ADD TO FRIENDS'>
   </form>
   {%endfor%}
            

</html>