<html>
  <head>
    <link rel="stylesheet" href="/static/css/silviastyles.css" type="text/css">
  </head>
  <body>
    <h1>Travelkeep lets you keep track of your favorite trips. Your favorite trips at your fingertips.<h1>

    <h2><a href="/login">Login</a><h2>
     <div><form action="/register" method="get">
  	 	<input type="submit" value="REGISTER FREE NOW">
	 </form> </div>
	 <div><form action="/register" method="get">
  	 	<input type="submit" value="GET STARTED NOW">
	 </form> </div>
  </body>
</html>
