<html>
  <head>
    <link rel="stylesheet" href="/static/css/silviastyles.css" type="text/css">
  </head>
  <body>
     {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <p>{{message}}</p>
            {% endfor %}
          {% endif %}
          {% endwith %}
   <h1> Sign In </h1>
   <form action ='/logincheck' method ="POST">
      <div><label> E-mail:</label> <input type='text' name ='loginemail'></div>
      <div><label> Password: </label> <input type='text' name ='loginpassword'></div>
      <div><input type="submit" value ="LOGIN"></div>
  </form> 
  <h1> New to travelkeep?</h1>
  <a href='/register'> Register here</a>    
  </body>
</html>

