<html>
  <head>
    <link rel="stylesheet" href="/static/css/silviastyles.css" type="text/css">
  </head>
  <body>
   {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <p>{{message}}</p>
            {% endfor %}
          {% endif %}
          {% endwith %}
         
   <h1> Registration </h1>       
   <form action='/regcheck' method="POST">
	   <div><label> First Name: </label> <input id='fn' type='text' name='firstname'> </div>
	   <div><label> Last Name: </label> <input id='ln' type='text' name = 'lastname'></div>
	   <div><label> E-mail:</label> <input id='em'type='text' name ='regemail'></div>
	   <div><label> Password: </label> <input id='pw' type='text' name ='regpassword'></div>
	   <div><label> Confirm password: </label> <input id='cpw' type='text' name ='regconfpassword'></div>
	   <div><input type="submit" value ="REGISTER"></div>
   </form>
   <h1> Already have an account with travelkeep?</h1>
   <a href='/login'>Login instead</a>
  
  </body>
</html>